<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Home</title>
	</head>
	<body>
		<h2>Welcome</h2>
		
		<h3>Tambah Pilot</h3>
		<td><a th:href="@{/pilot/add}">Tambah</a></td>
		
		<h3>Tampilkan Semua Pilot</h3>
		<td><a th:href="@{/pilot/viewAll}">Lihat Daftar Pilot</a></td>
		<br>
		<h3>Cari Pilot</h3>
		<form th:action="@{/pilot/view}" method="GET">
			License Number : <br>
			<input type="text" name="licenseNumber"/>
			<button type="submit">Cari</button>
		</form>
		<br>
		<h3>Tampilkan Semua Penerbangan</h3>
		<td><a th:href="@{/flight/view}">Lihat Daftar Flight</a></td>
		
		
	</body>

</html>